{{ repo.cron }} {{ backup.user.name }} {{ backup.restic.binary_path }} {{ repo.repo_path }} -p {{ backup.user.home }}/.restic/{{ repo.pass_file }} forget {% if repo.forget_policy-hourly is defined %}--keep-hourly {{ repo.forget_policy_hourly }} {% endif %}{% if repo.forget_policy_daily is defined %}--keep-daily {{ repo.forget_policy_daily }} {% endif %}{% if repo.forget_policy.weekly is defined %}--keep-weekly {{ repo.forget_policy.weekly }} {% endif %}{% if repo.forget_policy.monthly is defined %}--keep-monthly {{ repo.forget_policy.monthly }} {% endif %}{% if repo.forget_policy.yearly is defined %}--keep-yearly {{ repo.forget_policy.yearly }} {% endif %}
