[Unit]
Description=Home Assistant
After=network-online.target mariadb.service

[Service]
Type=simple
User=hass
ExecStart={{ homeassistant.install_path }}/bin/hass -c "{{ homeassistant.config_path }}"

[Install]
WantedBy=multi-user.target

